<div class="k-user-wrapper"> 
<%= form_for(@user, url: user_path(@user.id), method: 'put', html: {multipart: true})  do |form| %>
  <div class="form-group">
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="k-user-input">
        <%= @user.image %>
        <%= form.file_field :image %>
    </div>    
  
    <div class="k-user-input">
      <%= form.label :full_name %>
      <%= form.text_field :full_name, class: "form-control"%>
    </div>
  
    <div class="k-user-input">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control"%>
    </div>
    <div class="k-user-input">
    <%= form.label :role%>
    <div class: "form-control" >
    <%= form.select(:role, User.roles.keys.map {|role| [role.titleize,role]})%>
    </div >
  </div>

  <div class="k-user-input">
  <%= form.label :bio %>
  <%= form.text_field :bio, class: "form-control" %>
</div>

<div class="k-user-input">
<%= form.label :slug %>
<%= form.text_field :slug, class: "form-control" %>
</div>
<div class="k-user-input" style="margin: 10px;">
<% if current_user == @user %>
<%= link_to 'Change password', edit_user_registration_path(current_user.id) %>
<% end %>
</div>
    <div class="actions">
      <%= form.submit class:  "btn btn-primary k-btn" %>
    </div>
  <% end %>
  </div>