
<div class="k-user-wrapper">
<p id="notice"><%= notice %></p>

  <%= image_tag @user.image.url(:thumb), class: 'avatarimg' %>

<%= link_to 'Edit image', user_new_avatar_path(@user),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#exampleModalCenter', class: 'btn btn-primary btn-lg'}  %>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    
    </div>
    </div>
  </div>
<p>
  <strong>Full name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @user.slug %>
</p>

<%= link_to 'Edit', edit_user_path(@user.id), class: 'btn btn-primary k-btn' %>
</div>